<div class="p-grid p-nogutter">
  <div class="p-grid p-col-12 header">
    <h2 class="p-col-12 header-h2">Weatherly</h2>
    <nav class="p-grid p-col-12 p-justify-center">
      <p-button
        label="Weather Main Page"
        routerLink="/main"
        routerLinkActive="active"
        class="nav-button p-col-6 p-sm-5 p-md-4 p-lg-3"
      ></p-button>
      <p-button
        label="Favourite Cities"
        routerLink="/favourites"
        routerLinkActive="active"
        class="nav-button p-col-6 p-sm-5 p-md-4 p-lg-3"
      ></p-button>
    </nav>
  </div>
  <div class="p-col-12" [@routeAnimation]="getAnimationData(routerOutlet)">
    <router-outlet class="" #routerOutlet="outlet"></router-outlet>
  </div>
</div>
