.main-container {
}
.input {
  input {
    width: 90%;
  }

  button {
    width: 10%;
  }
}

.main-table {
  width: 60vw;
  padding-top: 20px;
  th {
    background-color: rgb(174, 229, 255);
  }
  td {
    border-radius: 2px;
  }
  tr:nth-child(odd) {
    background-color: rgb(187, 233, 255);
  }
  b {
    margin: 0 20px;
    font-size: large;
  }
  span {
    font: small lighter;
    margin: 0 10px;
  }
}
