<div class="p-grid p-justify-center">
  <div class="p-col-12">
    <div class="ui-inputgroup p-grid p-justify-center" pFocusTrap>
      <input
        class="p-col-10 p-sm-8 p-md-6 p-lg-4"
        type="text"
        #userInput
        id="float-input"
        placeholder="search for City Name"
        pInputText
        (keydown.enter)="getCityName(userInput.value)"
      />
      <p-button
        styleClass="ui-button-info"
        icon="fa fa-search"
        (click)="getCityName(userInput.value)"
      ></p-button>
    </div>
  </div>
  <div class="" *ngIf="weather">
    <table>
      <thead>
        <th>
          <span>5-day detailed forecast -></span>

          <fa-icon
            [icon]="faInfo"
            (click)="getCityId(weather.id)"
            routerLink="/details"
            routerLinkActive="active"
          >
          </fa-icon>
          <b>{{ weather.name }}</b>
          <fa-icon [icon]="faStar" (click)="toFavs(weather)"> </fa-icon
          ><span><- add to favourites</span>
        </th>
      </thead>
      <tr>
        <td>Country prefix:</td>
        <td>{{ weather.sys.country }}</td>
      </tr>
      <tr>
        <td>Description:</td>
        <td>{{ weather.weather[0].description }}</td>
      </tr>
      <tr>
        <td>Temperature:</td>
        <td>{{ weather.main.temp }}&#8451;</td>
      </tr>
      <tr>
        <td>Pressure:</td>
        <td>{{ weather.main.pressure }}hPa</td>
      </tr>
      <tr>
        <td>Sunrise:</td>
        <td>{{ weather.sys.sunrise * 1000 | date: "H:mm" }}</td>
      </tr>
      <tr>
        <td>Sunset:</td>
        <td>{{ weather.sys.sunset * 1000 | date: "H:mm" }}</td>
      </tr>
      <tr>
        <td>Coordinates:</td>
        <td>[Lat: {{ weather.coord.lat }}, Lon: {{ weather.coord.lon }}]</td>
      </tr>
    </table>

    <agm-map
      class="map"
      [latitude]="lat"
      [longitude]="lon"
      (mapClick)="mapClick($event)"
    >
      <agm-marker [latitude]="lat" [longitude]="lon"></agm-marker>
    </agm-map>
  </div>
</div>

<!-- <fa-icon [icon]="faSun"></fa-icon>
<fa-icon [icon]="faCloud"></fa-icon>
<fa-icon [icon]="faCloudSun"></fa-icon>
<fa-icon [icon]="faCloudRain"></fa-icon> -->
