.city-name {
  font-size: large;
  h3 {
    text-align: center;
  }
}

table {
  width: 60vw;
  padding-top: 20px;
  th {
    background-color: rgb(174, 229, 255);
    font-weight: bold;
  }
  td {
    width: 50%;
    border-radius: 2px;
  }
  tr:nth-child(odd) {
    background-color: rgb(187, 233, 255);
  }
}
