.fav-city {
  margin: 5px;
  padding: 15px;
  box-shadow: 0 0 2px 2px rgba(80, 144, 255, 0.144);
  position: relative;
  background-color: rgba(245, 254, 255, 0.726);
  min-width: 200px;
}

.unFavBtn {
  color: rgb(167, 167, 167);
  float: right;
  font-size: 30px;
}

.unFavBtn:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
