<div class="fav-city" id="{{ fav.name }}">
  <span (click)="onUnFav($event.target.id)" class="unFavBtn" id="{{ fav.id }}"
    >&times;</span
  >
  <div>
    <p
      (click)="showDetailsOnNameClick(fav.id)"
      routerLink="/details"
      routerLinkActive="active"
    >
      <fa-icon [icon]="faCity"></fa-icon>{{ fav.name }}
    </p>
    <p><fa-icon [icon]="faThermometerHalf"></fa-icon>{{ fav.temp }}</p>
    <p><fa-icon [icon]="faTint"></fa-icon>{{ fav.humidity }}</p>
    <p><fa-icon [icon]="faSun"></fa-icon>{{ fav.description }}</p>
  </div>
</div>
