.fav-city {
  margin: 5px;
  padding: 5px;
  box-shadow: 1px 2px 12px rgba(80, 80, 80, 0.666);
  position: relative;
  background-color: rgba(245, 254, 255, 0.438);
  border-radius: 2px;

  .fav-city-name {
    font-weight: bold;
  }
  .fav-city-name:hover {
    box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.253);
    cursor: pointer;
  }
}

p {
  font-size: 18px;
  font-weight: 600;
  fa-icon {
    font-size: 24px;
    padding: 0 16px;
  }
}

.unFavBtn {
  color: rgb(105, 105, 105);
  float: right;
  font-size: 24px;
}

.unFavBtn:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  p {
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) {
  p {
    font-size: 14px;
  }
}
@media screen and (min-width: 992px) {
  p {
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  p {
    font-size: 18px;
  }
}
