html {
  font-family: "Amatic SC", cursive;
}

body {
  min-width: 400px;
  min-height: 100vh;
  background: rgb(0, 62, 249);
  background: linear-gradient(
    0deg,
    rgba(0, 62, 249, 0.4260206035539216) 0%,
    rgba(122, 208, 255, 0.5016508556547619) 55%,
    rgba(41, 169, 255, 0.29997018338585435) 100%
  );
}

.p-grid {
  margin: 0;
}

// styles for app.component

.header {
  font-family: "Muli", sans-serif;
  font-weight: 600;
  text-align: center;
  margin: 0px;
  padding: 4px 0px;
  border-radius: 3px;
  text-shadow: 0px 5px 10px rgb(191, 243, 250);
  background-image: url(../src/assets/skyheader2.jpg);
  background-size: cover;
  box-shadow: 0px 0px 10px lightblue;
  // change font! this is ugly
}
nav p-col-12 {
  padding: 2px;
}

.nav-button .ui-button {
  width: 100%;
}

// styles for main.component

.map {
  width: 100%;
  height: 300px;
}

@media screen and (max-width: 575px) {
  .p-col-6 {
    padding: 3px;
  }
}
